@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Pixelify+Sans:wght@400;500;700&display=swap');

:root {
  --font-heading: 'Bytesized', monospace;
  --font-body: 'Pixelify Sans', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
